/*CSS*/

body {
	background-color: Lavender;
	
}
.sidebars {
	background-color: Black;
	
}
.header {
	
}
.footer {
	
}
.navi{
	margin-top: 40px;
	   position: absolute;
	   margin-left: 990px;
	   font-size: 30px;
	  word-spacing: 20px;
	 
	 
  align-items: center;
  justify-content: center;
}

.castlepic {
background-image: "pictures/2900440300_421583c690_b";
margin-top: 40px;
}
.logo {
	 position: absolute;
	
}

/* Contact*/
.contactinfo {
	
}